.vscode/**
.vscode-test/**
out/**
scripts/**
.mcp.json
.codex/**
.codeidx/**
.plan/**
.portmanager/**
UI_UX_IMPROVEMENT_PLAN.md
.zoek-rs/**
.zoek*
.claude/**
.lh/**
src/**
.gitignore
esbuild.js
**/tsconfig.json
**/*.map
**/*.ts
!dist/*.js
node_modules/**
package-lock.json
media/icon.svg
*.vsix
